<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-3">SpaceX Launch Programs</h1>
    </div>
    <div class="col-md-4">
      <aside class="filter-section-wrapper">
        <div class="card">
          <div class="card-body">
            <div class="filter-header-wrap">
              <h3 >Find the Rockets</h3>
              <a *ngIf="showFilter" (click)="clearFilter()">Clear</a>
            </div>
            <div class="filter-sub-title">
              <h4>Rocket Mission Name</h4>
            </div>
            <ul class="filter">
              <li
                *ngFor="let name of spaceName; let i = index"
                (click)="filterLaunchPrograms(i, name)"
              >
                {{ name }}
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-md-8">
      <p *ngIf="isLoading" class="loading-text">Loading...</p>
      <p
        *ngIf="launchDataArray && !launchDataArray.length && !isLoading"
        class="loading-text"
      >
        No Data Found!
      </p>
      <div *ngIf="!isLoading" class="row">
        <div *ngFor="let item of launchDataArray" class="col-md-4">
          <app-missiondetail [data]="item"></app-missiondetail>
        </div>
      </div>
    </div>
  </div>
</div>
